{% load static %}

<div class="scroll-card">
        {% include 'parts_main/image.html' %}
    <div class="row p-1">
        <div class="col-6" id="info_Bar_1">
            <h6 class="h6 text-success">Bizning Tashkilot</h6>
            <p id="scroll-card-font">
                Viloyat: <b>Toshkent shaxri</b> <br>
                Tuman: <b>Yunusobod tumani</b> <br>
                Tashkilot: <b>Toshkent Axborot Texnologiyalari Universiteti</b> <br>
                Loyiha rahbari: <b>Rustam Meliqo`ziyev</b>
            </p>
        </div>
        <div class="col-6" id="info_Bar_2">
            <h6 class="h6 text-success">Jamoa haqida</h6>
            <p id="scroll-card-font">
                Jamoa: <b>EcoMaps</b> <br>
                Jamoa azolari: <b>3</b> ta <br>
                Jamoa Sardori: <b>Jahongir Turaqulov</b><br>
                Dasturchi: <b>Haydarov Maqsudjon</b> <br>
                Dizayner: <b>Turaqulov Ziyodullo</b>

            </p>
        </div>
    </div>

</div>