{% load static %}

<link rel="stylesheet" href="{% static 'assets/css/select.css' %}">



<div class="select-bg">

    <div class="select-container">
        <select id="region" class="js-example-basic-single" name="regions">
            <option value="" selected disabled hidden>Choose a region</option>
            <option value="tashkent">Toshkent shahri</option>
            <option value="tashkentv">Toshkent viloyati</option>
            <option value="andijan">Andijon viloyati</option>
            <option value="bukhara">Buxoro viloyati</option>
            <option value="fergana">Ferg`ona viloyati</option>
            <option value="jizzakh">Jizzax viloyati</option>
            <option value="qashkadarya">Qashqadaryo viloyati</option>
            <option value="navoiy">Navoiy viloyati</option>
            <option value="namangan">Namangan viloyati</option>
            <option value="samarqant">Samarqand viloyati</option>
            <option value="sirdaryo">Sirdaryo viloyati</option>
            <option value="surxondaryo">Surxondaryo viloyati</option>
            <option value="xorazm">Xorazm viloyati</option>
            <option value="qoraqalpoq">Qoraqalpog`iston</option>
        </select>
    </div>

    <div class="select-container">
        <select id="district" class="js-example-basic-single" name="discrits">
            <option value="" selected disabled hidden>Choose a district&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
        </select>
    </div>

    <div class="select-container">
        <select id="organ" class="js-example-basic-single" name="organs">
            <option value="" selected disabled hidden>Choose an organization&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
        </select>
    </div>

</div>