<!doctype html>
<html lang="en">
<head>
    {% include 'layouts/head.html' %}
    <title>ecoMaps | {% block title %}{% endblock %}</title>
</head>

<body>

{% include 'loaders/pre-loader.html' %}
{% include 'layouts/header.html' %}
{% block content %}

{% endblock %}
{% include 'layouts/foot.html' %}

<script>

    function showPage() {
        document.querySelector("#js-preloader").style.display = "none";
        document.querySelector("body").style.display = "block";
    }

    setTimeout(showPage, 2000)


</script>
</body>
</html>